.video {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: block;
  max-height: 80vh;
  min-height: 100vh;
}
.container-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.colum {
  display: flex;
  flex-direction: column;
}
.title-size {
  font-size: 60px;
}
.trailer-size {
  font-size: 36px;
}
h1 {
  margin: 0px;
}
