.containerlaunch{
  height:600px;
  width:100%;
  display: flex;
  flex-direction: row;
}
.textlaunch{
  width:40%;
  background-color: red;
}
.imglaunch{
  width:60%;
  background-color: blue;
  background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/main_element/public/media/image/2018/01/nergigante.jpg?itok=UQvd1c2J");
  background-size: cover;

}
.contentlaunch{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 100px;
}
.letterlaunch{
  font-size: 36px;
  width: 400px;
}
.lettersize{
  width: 400px;
}
